* {
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  background-color: black;
  min-height: 100% !important;
  width: 100%;
}

.total {
  color: #fff;
  text-align: end;
  font-size: 100px;
  margin: 10px;
  margin-right: 20px;
}

.header {
  background-color: #fff;
  color: black;
  text-align: center;
  padding-top: 15px;
  height: 50px;
  font-size: larger;
  font-weight: bold;
}

.container {
  width: 430px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 170px;
  border: 1px solid #fff;
}

.buttons {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;

  & .grey:active,.dark-grey:active,.orange:active {
    background: #c0c0c0;
  }

  .zero{
    padding-left: 25px;
    text-align: left;
    border-radius: 999em;
    width: 200px;
    grid-column: 1 / 3;
  }
}

.item {
  height: 100px;
  font-size: 50px;
  border-radius: 50%;
  margin: 1px;
  margin: 10px;
}

.orange {
    background: #ff9500;
    color: #fff;
    border: 0;
  }
  
  .dark-grey {
    background-color: rgb(55, 55, 55);
    border: 0;
  }
    
  .grey {
    background-color: rgb(132, 132, 132);
    border: 0;
  }
  



